# Core dependencies
CustomTkinter~=5.2.2
tensorflow~=2.16.2
opencv-python~=4.7.0.72
pandas~=2.0.2
numpy~=1.24.2
fastapi==0.85.1
uvicorn==0.18.2
werkzeug~=2.2.3

# Data processing and machine learning
scikit-learn~=1.5.1
matplotlib~=3.9.0
seaborn==0.11.2
textblob==0.17.1
Pillow~=10.3.0

mediapipe~=0.10.14
torch~=2.3.1
future~=0.18.3
reportlab~=4.2.2
yolov5~=7.0.13
pyttsx3~=2.90
wikipedia~=1.4.0
transformers~=4.44.2
credentials~=1.1
deepface~=0.0.93
SQLAlchemy~=2.0.8
torchvision~=0.18.1